@model IEnumerable<prjASPNET.Models.CShoppingCartItem>

@{
    ViewBag.Title = "CartView";
}

<h2>CartView</h2>
 
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.小記)
        </th>
        <th></th>
    </tr>

@{int count = 0;
    decimal sum = 0;
    decimal tax = 0;
    decimal pay = 0;
    foreach (var item in Model)
    {
        count++;
        sum += item.小記;
    <tr>
        <th>
            @count
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.product.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.小記)
        </td>
        <td>
            @Html.ActionLink("取消", "Edit", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
    }
    tax = sum * 0.05M;
    pay = tax + sum;
    }
</table>
<li>交易金額：@sum.ToString("###,###,##0")</li>
<li>稅　　額：@tax.ToString("###,###,##0")</li>
<li>應付金額：@pay.ToString("###,###,##0")</li>