@model IEnumerable<prjASPNET.tProduct>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("檢視購物車", "CartView")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th></th>
    </tr>

@{ int count = 0; foreach (var item in Model)
    {
        count++;
    <tr>
        <td>
            @count
        </td>
        <td>
            <img src="~/Images/@item.fImagePath" width="300" height="200"/>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCost)
        </td>
        <td>    
            @Html.DisplayFor(modelItem => item.fPrice)
        </td>
        <td>
            @Html.ActionLink("加入購物車", "AddToCart", new { id = item.fId })|
            @Html.ActionLink("加入Session", "AddToSession", new { id = item.fId },
           new {  @class = "btn btn-outline-danger" })
        </td>
    </tr>
         }
    }
</table>
